The file elastic_search.py performs some operations in elastic search.

Notes:
======================================================================
1. Give the input file name to be procces on line 40 (sample file which supported by this program is given in this folder:details.txt), update this variable with filename or path to file name.
2. Lines 45,48: The host name and port of the elastic search is given, make changes for that if required.


Rquirements:
========================================================================
json 2.0.9
requests 2.18.4
python 2.7 with elasticsearch 6.2.0  
